<%- include('header') -%>

<h2>This page is for About!</h2>
<p>ToDoList app is made for Goal-Oriented people like you which is responsible for task and goals, you have 3 section.</p>
<lu>
  <li>/Home</li>
  <li>/work</li>
  <li>/About</li>
</lu>

 <%- include('footer') -%>
